

.base_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.main_category {
	position: sticky;
    top: 93px;
    min-width: 286px;
    max-height: 576px;
    height: calc(100vh - 160px);
    padding: 16px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-y: auto;
}

.main_content {
	flex-basis: 100%;
}

.category {
	-ms-flex-positive: 41;
    flex-grow: 41;
}

.category_list {
	margin-top: 0;
	list-style: none;
    padding: 0;
}

.category_item {
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 20px;
    margin: 0 0 0.25rem;
}
