{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} / InvestorHome</title>
	<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	{% block style %}{% endblock %}
</head>
<body>
<header>
	<div class="logo">InvestorHome</div>
</header>
<content>
{% block content %}
{% endblock %}
</content>
<footer>
	<div class="footer-content">
		<h3>Investor Home</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul class="social">
			<li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
			<li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
			<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
		</ul>
	</div>
	<div class="footer-bottom">
		<p>Copyright &copy;2022 InvestorHome. Build by <span>Bulat Nasyrov</span></p>
	</div>
</footer>
</body>
</html>