{% extends 'base.html' %}

{% block title %}{% if mc %}{{mc.motiv_title}}{% endif %}{% if learn %}{{learn.learn_title}}{% endif %}{% if gallery %}{{gallery.gallery_title}}{% endif %}{% endblock %}
{% block content %}
{% autoescape off %}
{% if motiv %}
<section class="blog-content">
  <div class="row">
    <div class="blog-left">
      <img src="{{ motiv.motiv_image.url }}">
      <br>
      <h2>{{ motiv.motiv_title }}|{{ motiv.motiv_pub_date }}</h2>
      <br>
      <p class="text">{{ motiv.motiv_text }}</p>
    </div>
  </div>
</section>
{% endif %}
{% if learn_cl %}
<section class="blog-content">
  <div class="row">
    <div class="blog-left">
      <img src="{{ learn_cl.learn_image.url }}">
      <br>
      <h2><em>{{ learn_cl.learn_title }}|{{ learn_cl.learn_pub_date }}</em></h2>
      <br>
      <p>{{ learn_cl.learn_text }}</p>
      <br>
    </div>
  </div>
</section>
{% endif %}
{% if idea %}
<section class="blog-content">
  <div class="row">
    <div class="blog-left">
      <img src="{{ idea.idea_image.url }}">
      <br>
      <h2>{{ idea.idea_title }}|{{ idea.idea_pub_date }}</h2>
      <br>
      <p class="text">{{ idea.idea_text }}</p>
      <br>
    </div>
  </div>
</section>
{% endif %}
{% endautoescape %}
{% endblock %}