* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial;
	background: #fcfcfc;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 66px;
	padding: 10px 90px;
	box-sizing: border-box;
	background: #FAFAFA;
	border-bottom: 1px solid #000;
}

header .logo {
	padding: 22px 20px;
	height: 40px;
	float: left;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #0000;
}

header ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

header ul li a {
	line-height: 46px;
	color: #000;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

header ul li a:hover {

	background: #0000;
	border-radius: 6px;
}


content {
	position: relative;
	top:  66px;
	left: 0;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	margin-left: 10%;
}


footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fafafa;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 16px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li{
	margin: 0 10px;
}

.socials a{
	text-decoration: none;
	color: #fff;
}

.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}

.socials a:hover i{
	color: aqua;
}

.footer-bottom {
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer-bottom p {
	font-size: 16px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
