version: "3.10"

services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    networks:
      - backend_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - backend_net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    command: >
      sh -c "wait-for-it db:5432 -- wait-for-it redis:6379 -- 
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - backend_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: >
      sh -c "wait-for-it backend:8000 -- yarn dev"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5137:3000"
    depends_on:
      - backend
    networks:
      - backend_net
    environment:
      - NODE_ENV=development

volumes:
  db_data:

networks:
  backend_net:
    driver: bridge