version: "3.10"

services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    networks:
      - backend_net

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - backend_net

  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: django_backend
    command: gunicorn hello.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./hello:/app/hello
      - ./hello/static:/app/static
      - ./hello/media:/app/media
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
    networks:
      - backend_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "80:80"
    networks:
      - backend_net

  nginx:
    image: nginx:stable
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./hello/static:/app/static
      - ./hello/media:/app/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - backend_net

networks:
  backend_net:

volumes:
  db_data: