
.navbar-menu {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 150px;
	transition: .5s;
}

.night {
	background: #111;
	height: 80px;
}

.text-color-navbar-label {
	color: #5BE625;
}

.text-color-navbar-form {
	color: #3D5A80;
}

.bg-color-navbar-form {
	background-color: #E39A0B;
}

/* Login */
.login-form {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-left: 6%;
}
.wrapper-login {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 420px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 02);
	border-radius: 10px;
	padding: 30px 40px;
	color: #fff;
}

.table-login {
	margin: 5px;
	width: 100%;
	height: 50px;
	background: none;
	outline: none;
	border: 2px solid;
	border-radius: 40px;
	padding: 20px 45px 20px 20px;
	font-size: 16px;
	color: #fff;
}

.btn-login {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	outline: none;
	border : solid #fff;
	border-radius: 40px ;
	font-size: 16px;
	color: #fff;
	
}

.navbar-title-login {
	text-align: center;
	margin-bottom: 10px;
	font-size: 36px;
	font-weight: 600;
}

.text-login {
	text-align: center;
	margin-top: 10px;
}

/* Sign-up */
.sign-up-form {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-left: 6%;
}
.wrapper-sign-up {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 420px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 02);
	border-radius: 10px;
	padding: 30px 40px;
	color: #fff;
}

.table-sign-up {
	margin: 5px;
	width: 100%;
	height: 50px;
	background: none;
	outline: none;
	border: 2px solid;
	border-radius: 40px;
	padding: 20px 45px 20px 20px;
	font-size: 16px;
	color: #fff;
}

.btn-sign-up {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	outline: none;
	border : solid #fff;
	border-radius: 40px ;
	font-size: 16px;
	color: #fff;
	
}

.navbar-title-sign-up {
	text-align: center;
	margin-bottom: 10px;
	font-size: 36px;
	font-weight: 600;
}

.text-sign-up {
	text-align: center;
	margin-top: 10px;
}
::placeholder {
	color: #fff
}