
.navbar-menu {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 150px;
	transition: .5s;
}

.night {
	background: #111;
	height: 80px;
}

.text-color-navbar-label {
	color: #5BE625;
}

.text-color-navbar-form {
	color: #3D5A80;
}

.bg-color-navbar-form {
	background-color: #E39A0B;
}