[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www
Group=www-data
WorkingDirectory=Investor
ExecStart=Investor/env/bin/gunicorn --workers 3 --bind unix:Investor/gunicorn/gunicorn.sock hello.wsgi:application --access-logfile Investor/gunicorn/access.log --error-logfile Investor/gunicorn/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target