
$--color-subfooter-bg: "background: rgba(0, 0, 0, 0.86)"
$--color-subfooter-text: "color: #666666"
$--color-footerbottom-bg: "background: rgba(28, 28, 28, 0.94)"
$--color-footerbottom-text: "#555555"

.patreonIcon {
	height: 100px;
	max-width: 200px;
}

.textFooter {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	font-weight: 300;
	flex-direction: column;
}


.subFooter {
	background: --color-subfooter-bg;
	color: --color-subfooter-text;
}

.footerBottom {
	background: --color-footerbottom-bg;
	color: --color-footerbottom-text;
}
