

.h_header {
	box-shadow: 0 1px 0 rgba(0,0,0,0.08);

	@media (min-width: 902px) {
    	height: 120px;
		line-height: 120px;
		transition-property: transform,background,box-shadow,line-height,height;
	    transition-duration: .3s;
	    transition-timing-function: cubic-bezier(.78,.13,.15,.86);
	}
	@media (min-width: 601px) and (max-width: 1024px) {
    	height: 80px;
	    line-height: 80px;
		transition-property: transform,background,box-shadow,line-height,height;
	    transition-duration: .3s;
	    transition-timing-function: cubic-bezier(.78,.13,.15,.86);
	}
}

.l_header {
	box-shadow: 0 1px 0 rgba(0,0,0,0.08);
	height: 80px;
	line-height: 80px;
	@media (min-width: 902px) {
		transition-property: transform,background,box-shadow,line-height,height;
	    transition-duration: .3s;
	    transition-timing-function: cubic-bezier(.78,.13,.15,.86);
	}
	@media (min-width: 601px) and (max-width: 1024px) {
		transition-property: transform,background,box-shadow,line-height,height;
	    transition-duration: .3s;
	    transition-timing-function: cubic-bezier(.78,.13,.15,.86);
	}
}

.empty_box {
	@media (min-width: 902px) {
    	height: 110px;
	}
	@media (min-width: 601px) and (max-width: 1024px) {
    	height: 80px;
	}
}

.glass_header {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	background-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.gradient_header {
	background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

