@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&display=swap');
@import "tailwindcss";


:root {
  min-width: auto;
  min-height: auto;
}

::-moz-selection {
  background-color: #85BB65;
}

::selection{
  background-color: #85BB65;
}

input::placeholder {
  color: #666;
}
