{% extends 'base.html' %}
{% load static %}

{% block title %} Главная страница, где вы можете ознакомиться с основными темами про инвестиции{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
  <!-- Slider image -->
  <div class="carousel slide" data-ride="carousel" id="slides">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-caption">
      <h1>Инвестиции - это твое будущее</h1>
      <h3>Начни его делать сегодня.</h3>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/news-slader.jpg' %}">
      </div>
      <div class="carousel-item"><img src="{% static 'img/slader-2.jpg' %}"></div>
      <div class="carousel-item"><img src="{% static 'img/slider-paris.jpg' %}"></div>
    </div>
  </div>
  <div class="container-fluid"></div>
  <div class="container-fluid"></div>
  <div class="container-fluid padding">
  </div>
  <br>
  <div class="container-fluid padding" style="background-color: #1c1d21;">
    <div class="row padding">
      <div class="offset-lg-2 col-lg-4">
        <h2>Путь инвестора</h2>
        <p>Рынки растут и падают, завораживают и разочаровывают, обогащают и разоряют. Рынок это вам не стабильная работа, где вы сидите и нетерпением ждете окончания рабочего дня - когда же это действительно закончиться
        <br><br>
        Рынок - словно лакмусовая бумажка для человеких душ. Здесь каждый из нас проявляется тем, кто он на самом деле. Трусу больше не удается спрятаться за более смелыми товарищами. Жадные доводит до апофеоза свою гипертрофированную жажду.
        <br><br>
        Как под лупой, в условиях реального стресса-трейдинга проявляются в максимальном приближении все наши минусы и плюсы.</p>
        <br>
        <a href="{% url 'articles:learn_checklist' 4 %}" class="btn btn-danger">Read next</a>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'img/terminal.jpg' %}" class="img-fluid">
      </div>
    </div>
  </div>
  <!-- Block with fixed img -->
  <figure>
    <div class="fixed-wrap">
      <div id="fixed"></div>
    </div>
  </figure>
  <!-- Карточки с биржами для инвестирования --> 
  <div class="container-fluid padding">
    <div class="row alert text-center">
      <div class="col-12">
        <h1 class="display-4">Stock market</h1>
      </div>
      <hr style="background-color: #1c1d21;">
    </div>
  </div>
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <!--Card 1-->
    <div class="rounded overflow-hidden shadow-lg">
      {% if learn %}
      {% for h in learn %}
      <a href="{% url 'articles:learn_checklist' 1 %}"><img class="w-full" src="{{ h.learn_image.url }}" alt="Mountain"></a>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-gray-200">{{ h.learn_title }}</div>
        <p class="text-gray-200 text-base">
          Рынок - это место встречи продавцов и покупателей, но какие они бывают и почему приходят туда ....
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#money</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#bank</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#investing</span>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <!--Card 2-->
    <div class="rounded overflow-hidden shadow-lg">
      <a href="{% url 'articles:learn_checklist' 2 %}"><img class="w-full" src="{% static 'img/bundesbank.png' %}" alt="Deutsche Bundesbank"></a>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-gray-200">Deutsche Bundesbank</div>
        <p class="text-gray-200 text-base">
          В течение многих десятилетий Бундесбанк был гарантом стабильности немецкой марки и одной из самых влиятельных институтов в Европе ...
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#bank</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#germany</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#history</span>
      </div>
    </div>

    <!--Card 3-->
    <div class="rounded overflow-hidden shadow-lg">
      <a href="{% url 'articles:learn_checklist' 3 %}"><img class="w-full" src="{% static 'img/swiss.jpg' %}" alt="Swiss National Bank"></a>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-gray-200">Swiss National Bank</div>
        <p class="text-gray-200 text-base">
          Важную роль в экономике мира и европы играет Нац Банк Швейцарии, выполняя такие функции ...
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#bank</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#swiss</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#history</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}