name: Node CI/CD
run-name: Node CI/CD by ${{ github.actor }}

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
          cache-dependency-path: frontend/yarn.lock

      - name: Install Yarn globally
        run: npm install --global yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run lint
        run: yarn lint
        env:
          CI: true

      - name: Run tests
        run: yarn test
        env:
          CI: true
          VITE_API_URL: http://backend:8000  # Для тестов API

      - name: Build project
        run: yarn build
        env:
          CI: true
          VITE_API_URL: http://backend:8000
